 
  /*Body design*/
  
  body{
    background-color: hsl(217, 54%, 11%);
    color:hsl(215, 51%, 70%);
    display: flex;
    justify-content: center;
    align-items:center;
  }

  /*container for the project*/

  .container{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background-color: hsl(216, 50%, 16%);
    width: 25rem;
    margin-top:2rem;
    border-radius: 1em;
    
  }

/*image design*/

  #equilibrium{
    height: 20rem;
    margin-top:1em;
    border-radius:0.5em;
    background-color:none;
  }
  #equilibrium:hover{
     color: aqua;
    
  }

  /*h1 design*/

  h1{
   color: hsl(0, 0%, 100%);
   font-family: 'Outfit', sans-serif;
   font-weight: 600;
  }
  h1:hover{
    color:aqua;
  }

  /*paragraphs*/

  .container p{
    font-size: 200;
    font-family: 'Outfit', sans-serif;
  }

  /*Ethereum and days left*/

  .inner-container{
    display:grid;
    gap:5rem;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr;

  }
  h2{
    color:hsl(178, 100%, 50%);
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
  }
  .ethereum{
    height: 1rem;
    width:0.52rem;
    padding-right: 0.2em;
  }
  h3{
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    align-items: center;
  }
  .clock{
    height: 1rem;
    width: 1rem;
    padding-right: 0.5em;
    margin-bottom:-0.1rem;
  }
  /*horizontal line*/

  hr{
    border-color:hsl(215, 32%, 27%);
    width: 80%;
    border-style: dashed;
    border-width: px;
    margin-top:1rem, auto;
  }
  /*footer design*/

  .footer{
    display: flex;
    flex-direction: row;
    font-family: 'Outfit', sans-serif;
    
  }
  .avatar{
    height: 2rem;
    width:2rem;
    margin-right:1rem;
    border: rgba(255, 255, 255, 0.776) solid ;
    border-radius:100px;
  }
  h4{
    margin-top:5px; 
    font-weight: 400;
  }
  b{
    font-size:1.2rem;
    color: white;
  }
  b:hover{
    color: aqua;
  }
